.main-container{
    padding: 100px;
}
.container-child p{
    color: gray;
}
.headings h1 span{
    color: #a0d05f;
}
h1{
    font-weight: bold;
}
h2{
    font-weight: normal;
}
.explore{
    width: 170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
}
.nav-link{
    font-size: 14px;
    transition: border .5s ease;
}
.navbar-brand{
    margin-left: 50px;
}
.nav-link:hover{
  border-bottom: 1px solid #a0d05f;
}
.navbar{
    background-color: #fff !important;
    border-bottom: 1px solid lightgray;
    padding: 0px 40px;
}
.navbar-nav{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 50px;
}
.button-1{
  padding: 5px 30px;
  background-color: #0d6db7;
  border-radius: 10px;
  border: 1px solid #0d6db7;
  cursor: pointer;
  margin: 0px 10px 0px 20px;
}
.button-2{
    padding: 5px 30px;
    background-color: #a0d05f;
    border-radius: 10px;
    border: 1px solid #0d6db7;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
  }
  .button-1 a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  .button-2 a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  .top{
    width: 100%;
    background-color: lightgray;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    align-items: center;
  }
  .top-child{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 20px;
  }
  .top-child p{
    font-size: 12px;
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
.top-button{
    background-color: #fff;
    border: none;
    padding: 5px 30px;
    font-size: 14px;
}
.child-mid div{
    background-color: #f0fcdb;
    height: 130px;
    width: 160px;
    border-radius: 10px;
    transition: .5s ease;
    cursor: pointer;
}
.child-mid div:hover{
    transform: scale(1.1);
}
.cards{
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease;
}
.cards:hover{
    transform: scale(1.1);
}
.cards img:hover{
    filter: brightness(60%);
}
.cards img{
    filter: brightness(40%);
    border-radius: 10px;
    transition: .5s ease;
}
.middle{
    height: 40em;
    display: flex;
    gap: 100px;
    flex-direction: column;
    padding: 40px;
}
.middle-child p{
    color: #fff;
    position: relative;
    top: 15em;
    z-index: 99;
    left: 1em;
    width: 20em;
    border-radius: 5px;
    border: none;
  }
.middle-child button{
  position: relative;
  top: 15em;
  background-color: #a0d05f;
  z-index: 99;
  left: 1em;
  width: 20em;
  border-radius: 5px;
  border: none;
}
.middle-child button a{
   color: #fff;
   text-decoration: none;
   font-size: 14px;
}

@media only screen and (max-width: 600px){
    .container-child img{
        display: none;
    }
    .navbar-brand{
        margin-left: 0px;
    }
    .button-1, .button-2{
        margin: 0px;
    }
    .navbar{
        padding: 0px;
    }
    .navbar-toggler{
        margin-left: 10px;
    }
    .main-container{
        padding: 50px;
    }
    .navbar-nav{
        gap: 2px;
        margin: 0px;
    }
    .top{
        width: 100%;
        background-color: lightgray;
        height: 30px;
        display: flex;
        justify-content: center;
        padding: 0px 0px;
        align-items: center;
      }
      .top-child{
        display: flex;
        gap: 0px;
        align-items: center;
        justify-content: center;
        height: 0px;
        padding: 0px;
        margin-right: 20px;
      }
      .top-child p{
        font-size: 11px;
        display: flex;
        gap: 0px;
        margin-top: 0px;
      }
      .child-mid{
        flex-direction: column;
      }
      .child-mid div{
        width: 120%;
      }
      .middle-child{
        flex-direction: column;
      }
      .middle{
        height: 60em;
      }
}